version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: realworld-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=realworld-db
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    image: adouadi/student-ci-cd-project:${IMAGE_TAG}
    container_name: realworld-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://myuser:mypassword@db:5432/realworld-db?schema=public
      - NODE_ENV=production
      - PORT=3000
    depends_on:
      - db

volumes:
  db_data: